body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#food-search {
  margin-top: 5em;
}

.app-header {
    background: rgb(68, 104, 176);
    background-size: cover;
}

.header-content {
    width: 100%;
    margin: auto;
    padding: 16px 16px;
    overflow: auto;
}

.header-title {
    color: white !important;
    margin-top: 29px;
    margin-left: 10px !important;
    font-weight: 30 !important;
    font-size: 22px !important;
    float: left;
}

.header-login{
    float: right;
}

.tab-content {
    width: 60%;
    margin: auto;
}

.padding {
    padding: 5px;
}

.padding2 {
    padding-top: 10px;
}

.button-text:before {
    content: 'Agency Login'
}

/*.card{*/
    /*height: 450px;*/
/*}*/

.card-holder{
    margin: 25px;
}

.county-select-div{
    margin: 5px;
}

.large.text {
    font-size: 2rem;
    margin: 5px;
 }

 .default.text {
    color: black !important;
    opacity: 1 !important;
 }

 .ui.disabled.dropdown, 
 .ui.dropdown .menu>.disabled.item {
     opacity: .6 !important;
 }


 
@keyframes lds-magnify {
    0% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    33.33% {
      -webkit-transform: translate(102px, 2px);
      transform: translate(102px, 2px);
    }
    66.66% {
      -webkit-transform: translate(42px, 102px);
      transform: translate(42px, 102px);
    }
    100% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
  }
  @-webkit-keyframes lds-magnify {
    0% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    33.33% {
      -webkit-transform: translate(102px, 2px);
      transform: translate(102px, 2px);
    }
    66.66% {
      -webkit-transform: translate(42px, 102px);
      transform: translate(42px, 102px);
    }
    100% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
  }
  .lds-magnify {
    position: relative;
  }
  .lds-magnify > div {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
  }
  .lds-magnify > div > div {
    -webkit-animation: lds-magnify 2s linear infinite;
    animation: lds-magnify 2s linear infinite;
    position: absolute;
  }
  .lds-magnify > div > div div:nth-child(1) {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 12px solid #4669ae;
    background: #e4e4e4;
  }
  .lds-magnify > div > div div:nth-child(2) {
    width: 17px;
    height: 51px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #4669ae;
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 68px;
    left: 85px;
  }
  .lds-magnify {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }