.single-agency {
  margin: 10px 0;
  border-radius: 1px;
  border: solid grey;
  text-align: center;
  background: lightgrey;
  width: inherit;
}

.agency-title{
  font-size: 28px;
  font-weight: 400;
  color: #616161;
}

.agency-title a{
  text-decoration: none;
  color: #616161;
}

.author-name{
  font-size: 16px;
  margin-bottom: 16px;
  color: #757575;
}

.agency-desc{
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.agency-action a{
  color: #555;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}

.agency-action a:hover{
  color: #EF5350;
}

.agency-detail .agency-title{
  font-size: 42px;
  color: #454545;
}

.agency-detail .agency-desc{
  font-size: 16px;
  color: #555;
}
